{% extends 'app/layout.html' %}

{% block title %}Полезные ссылки{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="ru">
<body>
    <section>
        <ul>
            <li><a href="https://openai.com/dall-e" target="_blank">DALL·E — генератор изображений</a></li>
            <li><a href="https://stablediffusionweb.com/" target="_blank">Stable Diffusion Web</a></li>
            <li><a href="https://www.midjourney.com/" target="_blank">Midjourney — нейросеть для создания арта</a></li>
        </ul>
    </section>
</body>
</html>
{% endblock %}
